<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Images" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Utils" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Grid" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.Printing" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.RichEdit" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList" version="19.2.6" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid" version="19.2.6" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net472" />
</packages>