<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Images" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Utils" version="18.2.7" targetFramework="net472" />
  <package id="DevExpress.Win" version="18.2.7" targetFramework="net472" />
</packages>